:root {
    --color: #949494
}

body {
    font-family: Lato, sans-serif;
    min-width: 800px;
    background: #ffffff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #fdfdfd);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #585858, #272727);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0px;
}

#navbar {
    width: 100vw;
    background-color: #141414;
    font-weight: bold;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: #141414;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 20px;
    padding: 9px 40px;
}

nav ul li a:hover {
    border-bottom: 5px solid #8b8a8a;
    color: #8b8a8a;
    transition: all ease-in-out 100ms;
}

nav ul ul {
    position: absolute;
    top: 70px;
}

nav ul ul li {
    position: relative;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
}