:root {
    --color: #949494
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}


/* remember to define focus styles! */

:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ul {
    list-style: none;
}


/* tables still need 'cellspacing="0"' in the markup */

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100;
    height: 100vh;
    font-family: Lato, sans-serif;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5 ease forwards 10s;
}

#logo path:nth-child(1) {
    stroke-dasharray: 208;
    stroke-dashoffset: 208;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 544;
    stroke-dashoffset: 544;
    animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 397;
    stroke-dashoffset: 397;
    animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 347;
    stroke-dashoffset: 347;
    animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 414;
    stroke-dashoffset: 414;
    animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 327;
    stroke-dashoffset: 327;
    animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 456;
    stroke-dashoffset: 456;
    animation: line-anim 2s ease forwards 2.1s;
}

#logo path:nth-child(9) {
    stroke-dasharray: 397;
    stroke-dashoffset: 397;
    animation: line-anim 2s ease forwards 2.4s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: #ffffff;
    }
}

#bg {
    background-image: url(../images/bg.jpg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#bg h1 {
    .box-bottom-shadow -webkit-box-shadow: 0 8px 6px -6px #e96426;
    -moz-box-shadow: 0 8px 6px -6px #e96426;
    box-shadow: 0 14px 6px -6px #e96426;
}

#about {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.mainWrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0px auto;
    position: relative;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0) 50%);
    align-items: left;
}

.mainLeft {
    width: 53%;
    height: 100vh;
    float: left;
    margin-right: 7%;
    position: relative;
    z-index: 100;
    color: #ffffff;
}

.mainLeft #pfp {
    height: 78.5vh;
    display: flex;
    justify-content: center;
}

.mainRight {
    width: 40%;
    height: 100vh;
    float: right;
    text-align: left;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

#about img {
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
    width: 80%;
}

#blog {
    min-height: 100vh;
    display: flex;
    justify-content: right;
    align-items: right;
    text-align: right;
}

#portfolio {
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
}

#contact {
    min-height: 100vh;
    display: flex;
    justify-content: right;
    align-items: right;
    text-align: right;
}


/* navbar */

nav {
    margin: 0px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    position: sticky;
    top: 0px;
    z-index: 400;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 20px;
    padding: 9px 40px;
}

nav ul li a:hover {
    border-bottom: 5px solid #e96426;
    color: #e96426;
    transition: all ease-in-out 230ms;
}

nav ul ul {
    position: relative;
    top: 70px;
}

nav ul ul li {
    position: relative;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
}


/*scroll reveal */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    min-height: 100vh;
    display: flex;
}

section:nth-child(2n+1) {
    color: #fff;
    background: #1D212B;
}

section:nth-child(2n) {
    color: #1D212B;
    background: #fff;
}

section .container {
    margin: 100px;
}

section h1 {
    font-size: 150px;
    text-shadow: 2px 5px 65px #000000;
}

section h2 {
    font-size: 91px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    .box-bottom-shadow -webkit-box-shadow: 0 8px 6px -6px #e96426;
    -moz-box-shadow: 0 8px 6px -6px #e96426;
    box-shadow: 0 8px 6px -6px #e96426;
}

section p {
    font-size: 30px;
}

section .cards {
    display: flex;
    text-align: center;
}

section .cards .text-card {
    align-items: center;
    width: 100%;
}

section .cards .text-card h3 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 100%;
}

@media (max-width: 900px) {
    section h1 {
        font-size: 50px;
    }
    section .cards {
        flex-direction: column;
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

div .name {
    font-size: 50px;
}


/* scrollbar */

::-webkit-scrollbar {
    width: 15px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #303030;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #575757;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(27, 27, 27);
}

#about {
    animation: transitionIn 0.75s;
}

@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}